$theme: (
  background-color: #272b30,
  color: #c8c8c8,
  on-primary: #242424,
  on-secondary: #242424,
  on-surface: rgba(0, 0, 0, 0.6),
  primary: rgba(255, 255, 255, 0.87),
  secondary: rgba(88, 84, 84, 0.87),
  surface: #32383e,
);
