.btn {
  border-radius: 2px;
  border-width: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  color: #ecf0f1;
  cursor: pointer;
  display: block;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  transition: background-color 0.3s;
}

.btn:hover,
.btn:focus {
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  background-color: rgba(236, 240, 241, 0.3);
  border-radius: 100%;
  content: "";
  display: block;
  left: 50%;
  padding-top: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;

  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.btn:active:before {
  padding-top: 120%;
  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
  width: 120%;
}
