@import "../../assets/scss/mixins";

.planets-page {
  flex: 1;

  &__spinner-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  &__filter {
    margin-bottom: 16px;
  }

  &__cards {
    @include grid-disposition;
  }

  &__pagination {
    margin: 16px 0;
    display: flex;
    justify-content: center;
    gap: 16px;
    height: 40px;

    & .btn {
      width: 115px;
    }
  }
}
